* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  padding: 0 10px;
  background-color: (180deg, #E8F0FF 0%, #F4F7FC 100%);
  
  
}

.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 150px 150px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  overflow: hidden;

}

.container:hover {
    transform: translateY(-6px);
    transition: all 0.5s ease;  }

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #F4F7FC;
}

p {
    font-size: 20px;
    color: #F4F7FC;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    background-color: black;
    color: #E8F0FF;

}

input:hover {
    transform: translateY(-3px);
    transition: all 0.5s ease;
}

.form {
    background-color: lightgray;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
    justify-content: center;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: 10px;

}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    transform: translateY(-3px);
    transition: all 0.5s ease;
}

#result {
    margin-top: 50px;
    font-size: 24px;
    color: #E8F0FF;
}
@media (max-width: 782px){
  .form {
    background-color: lightgray;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 450px;
    justify-content: center;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: 10px;

}

.container {
  background-color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 150px 150px;
  justify-content: center;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);

}
}

@media (max-width: 952px) {
  h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #F4F7FC;
}

p {
    font-size: 15px;
    color: #F4F7FC;
}
}

@media (max-width: 729px){
  .container {
  background-color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 150px 80px;
  justify-content: center;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);

}
}

@media (max-width: 620px){
  .container {
  background-color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 150px 30px;
  justify-content: center;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);

}
}
@media (max-width: 555px){
  .container {
  background-color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 150px 20px;
  justify-content: center;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);

}
  h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #F4F7FC;
}

p {
    font-size: 15px;
    color: #F4F7FC;
}
}
@media (max-width: 539px){
  .container {
  background-color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 100px 10px;
  justify-content: center;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);

}
  h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #F4F7FC;
}

p {
    font-size: 15px;
    color: #F4F7FC;
}

.form {
    background-color: lightgray;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: 10px;

}
}
@media (max-width: 402px){
  .container {
  background-color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 100px 4px;
  justify-content: center;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);

}
  h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #F4F7FC;
}

p {
    font-size: 15px;
    color: #F4F7FC;
}

.form {
    background-color: lightgray;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    padding: 10px 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    

}
}
